<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<ul class="answer">
  <%= @answer %>
</ul>
<div class="link"><%= link_to "Ask a new question",ask_path %></div>
